/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --title-color-header: #fff;
  --body-color-background: #f8f9fa;
  --border-color: #e6e6e6;
  --border-color-background: #e5f6fd ;

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;

    /*.5rem = 8px | 1rem = 16px ...*/
    --header-font-size: 23pt;
    --search-font-size: 13pt;
    --city-font-size: 19pt;
    --citystate-font-size: 13pt;
    --date-font-size: 15pt;
    --time-font-size: 13pt;
    --temperature-font-size: 26pt;
  }

  /*=============== BASE ===============*/
* {
  margin: 0 ;
  padding: 0;
 
}

html {
  background-color: var(--body-color-background);
}

body
 {
  
}